body{
  background-color: rgb(71, 79, 194) !important;
}

.container{
    background-color: white;
    margin: 125px auto;
    border-radius: 10px;
    padding: 20px 0;
    max-width: 700px !important;
}

h1 {
    position: relative;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
#msgError{
    text-align: center;
    color: red;
}

.container input {

    position: relative;
    width: 50%;
    margin-left: 25%;
    padding: 6px 20px ;    
    border-radius: 5px;
    border-width: 1px;
    background-color: #dcdbdb;
}

/* input[type=text]{
    position: relative;
    width: 50%;
    margin-left: 25%;
    padding: 6px 20px ;    
    border-radius: 5px;
    border-width: 1px;
    background-color: #ccc;
    
}

input[type=password]{
    position: relative;
    width: 50%;
    margin-left: 25%;
    padding: 6px 20px ;   
    border-radius: 5px;
    border-width: 1px;
    background-color: #ccc;
} */


.justify-center{

    position: relative;
    margin-left: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
        
} 

p{
    text-align: center;
}

.logo-dengosa{
    position: relative;
    margin-top: -9%;
    margin-left: 40%;
    width: 20%;
}