.titulo {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.estrutura {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10%;
}
button {
  align-items: center;
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0d6efd;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-decoration: none;
}
/* .integrantes {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-top: 150px;
  text-decoration: wavy;
} */
.logo {
  margin-right: 250px;
  display: flex;
  margin-top: 250px;
}
#dengosa {
  scale: 0.3;
}
#brasao {
  margin-top: 50px;
  scale: 0.5;
  height: 80%;
}
.lista {
  position: absolute;
  left: 41%;
  top: 45%;
  list-style-type: none;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  /* margin-top: 150px; */
  text-decoration: wavy;
}
