.container{
    margin: 60px auto;
    width: 300px;
}

.form {
    width: 500px;
    margin: 0 auto;
    background-color: #75abf8;
    border-radius: 20px;
    width: 700px;
    padding: 20px;
    color: white;
}

.form a {
    color: white;
    font-weight: 500;
}


h1 {
    position: relative;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#msgError{
    text-align: center;
    color: red;
}

#msgSucess{
    text-align: center;
    color: #359935;
}

input[type=text]{
    
    position: relative;
    width: 50%;
    margin-left: 25%;
    padding: 6px 20px ;    
    border-radius: 5px;
    border-width: 1px;
}

input[type=password]{
    position: relative;
    width: 50%;
    margin-left: 25%;
    padding: 6px 20px ;   
    border-radius: 5px;
    border-width: 1px;
}


.justify-center{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
} 


p{
    text-align: center;
}

.logo-dengosa{
    position: relative;
    margin-top: -1%;
    margin-left: 40%;
    width: 20%;
}