/* Exemplo de CSS personalizado */
/* Estilos para o header */
header {
    background-color: #343a40;
}

header .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Estilos para a seção Hero */
#hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#hero h1 {
    font-size: 3.5rem;
    color:black
}

#hero p {
    font-size: 1.25rem;
    color:black
}

/* Estilos para os cartões de serviços */
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}
body {
    background: linear-gradient(to bottom, #aaf2c9, #ffffff); /* Gradiente de verde claro para branco */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
/* Estilo para o modal */


/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
}

/* Fechar o botão do modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

